<div class="container">

  <div class="row">
    <div class="col-12">
      <h2 class="mt-5 mb-3 text-center">About</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="text-center"><strong>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br />
        お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br />
        様々なバリエーションをご⽤意しております。<br />
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br />
        ぜひご注⽂ください。
      </strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12" style="text-align: center;">
      <%= image_tag '7ce803128fad2d60f6200054b6bd6e8a_t.jpg' %>
    </div>
  </div>

</div>